body {
  background-image: url(/resources/images/iphone/backgroundStripes.png);
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  min-height: 416px;
  font-family: Helvetica;
}

h1 {
  margin: 0px;
  color: white;
  text-align: center;
}

/* catch ipad portrait orientation*/
@media all and (orientation:portrait) {
/*@media all and (orientation:landscape) {*/
  #tweets {
    /*height: 66%;*/
  }

  #tops {
    margin-top: 0px;
    height: 455px;

  }

  #top_tags {
    float: left;
    width: 50%;
    /*height:450px;*/
  }

  #top_tweeters {
    float: right;
    width: 50%;
  }
}

/* catch ipad landscape orientation */
@media all and (orientation:landscape) {
/*@media all and (orientation:portrait) {*/
  #tweets {
    /*//height: 100%;*/
    width: 66%;
    float: left;
  }

  #tops {
    float: right;
    width: 33%;
  }

}

.header-gradient {
  background: #5889a0 -moz-linear-gradient(90deg, rgba(0, 0, 0, .3) 33%, rgba(255, 255, 255, .1) 123%);
  background: #5889a0 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .3)));
  border: none;
  box-shadow: 0 0 6px rgba(204, 216, 223, 1) inset;
  mozbox-shadow: 0 0 6px rgba(204, 216, 223, 1) inset;
  webkitbox-shadow: 0 0 6px rgba(204, 216, 223, 1) inset;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  -webkit-margin-top-collapse: separate;
  -webkit-margin-bottom-collapse: separate;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-color: rgb(224, 224, 224);
}

#tweets_list{
}

#tweet_div {
}

.tweeter {
  font-weight: bold;
}

.tweet_text {
  margin-left: 10px;
  font-size: 115%;
}

.tweet_txt_div {
  min-height: 55px;
  padding-top: 3px;
  font-size: 15px;
}

.tweet_profile_img {
  width : 48px ;
  height: 48px ;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.top_tweeters_txt_div {
  min-height: 30px;
  padding-top: 8px;
  font-size: 18px;

}

.top_tweeter_profile_img {
  width : 32px ;
  height: 32px ;
  float : left;
  margin-right: 5px;
  margin-top: 3px;
}

.top_tweeter_count {
  float: right;
  margin-right: 30px;
  margin-left: 5px;
  font-size: 18px;
  font-weight:bold;

}

.top_tag_div {
  font-size: 18px;
  margin-top: 2px;
  min-height: 20px
}

.tag_count {
  float: right;
  margin-right: 30px;
  margin-left: 5px;
  font-size: 18px;
  font-weight:bold;
}
